<!-- Heredo de base.html-->

{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita modi reprehenderit nobis perspiciatis 
            minus consequuntur neque vitae officia eaque! Hic deserunt illo tempore cum ipsam, eveniet magni inventore dolorem debitis?
        </p>
    </section>
</main>


{% endblock %}

